[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
esptool = "*"
mpfshell = {git = "https://github.com/wendlers/mpfshell"}

[dev-packages]

[requires]
python_version = "3.7"
